<h2>Willkommen beim Workshop</h2>
<div class="homepage-container">
    <div class="info-box">
        <p class="title">BEM</p>
        <p>Block, Element, Modifier ist ein Hilfsmittel für die Softwareentwicklung im Internet, also ein
            Entwurfsmuster, um den Benutzern über das Frontend eine Webseite anzuzeigen. Die BEM-Methodik
            vereinfacht mit seiner Namenskonvention die Entwicklung von Benutzeroberflächen in größeren
            Projekten.</p>
    </div>
    <div class="info-box">
        <p class="title">SASS</p>
        <p>Sass ist eine Stylesheet-Sprache, die als CSS-Präprozessor mit Variablen, Schleifen und vielen
            anderen Funktionen, die Cascading Style Sheets nicht mitbringen, die Erstellung von CSS
            vereinfacht und die Pflege großer Stylesheets erleichtert.</p>
    </div>
</div>
<div class="homepage-container">
    <div class="info-box">
        <p class="title">Softwarearchitektur</p>
        <p>Eine Softwarearchitektur ist einer der Architekturtypen in der Informatik und beschreibt die
            grundlegenden Komponenten und deren Zusammenspiel innerhalb eines Softwaresystems.</p>
    </div>
    <div class="info-box">
        <p class="title">Workshops & Beratung</p>
        <p>Gregor Biswanger ist käuflich und bietet weitere Workshops oder Beratungen an. Ganz genau, es
            handelt sich hierbei um Schleichwerbung. Lorem ipsum dolor sit. Lorem ipsum dolor sit amet
            consectetur.</p>
    </div>
</div>